/* Inter font family for sub title */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&family=Merriweather:wght@700&family=Updock&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #2c3e50;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    border: 4px solid #172a3d;
    padding: 8vw;
    border-radius: 100px;
    background-color: #1b334a;
    box-shadow: 10px 10px 80px 20px #111f2d, -10px -10px 80px 20px #111f2d;
}

table{
    border-spacing: 10px 20px;
}

.sign{
    color: white;
    position: absolute;
    top: 25%;
    cursor: pointer;
}

.lab{
    color: #5a6168;
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: 'Inter', Courier;
    cursor: pointer;
}

.textBox{
    outline: none;
    border: none;
    border-bottom: 2px solid #1abc9c;
    background-color: #1b334a;
    color: #5a6168;
    font-size: 16px;
    padding-bottom: 5px;
    font-family: 'Inter', Courier;
}

.sub{
    padding: 6px 12px;
    font-size: 16px;
    font-family: 'Inter', Courier;
    background-color: transparent;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    color: #5a6168;
    border: 2px solid  #5a6168;
}

.sub:active{
    border: 2px solid white;
    color: white;
}

@media (max-width:750px) {

    table{
        border-spacing: 0px 30px;
    }

    form{
        border: none;
        box-shadow: none;
        padding: 8vw 0vw;
        background: #2c3e50;
    }

    .sign{
        font-size: 20px;
        color: white;
        position: absolute;
        top: 25%;
    }

    .lab{
        font-size: 16px;
    }

    .textBox{
        font-size: 14px;
        background: #2c3e50;
    }

    .sub{
        margin: 0px;
        margin-top: 30px;
        margin-left: 10px;
        padding: 4px 6px;
        font-size: 14px;
        border-radius: none;
        border-radius: 5px;
    }
}

@media (max-width:290px) {

    table{
        border-spacing: 0px 30px;
    }

    form{
        border: none;
        box-shadow: none;
        padding: 8vw 0vw;
        background: #2c3e50;
    }

    .sign{
        font-size: 18px;
        color: white;
        position: absolute;
        top: 27%;
    }

    .lab{
        font-size: 14px;
    }

    .textBox{
        font-size: 12px;
        background: #2c3e50;
    }

    .sub{
        margin: 0px;
        margin-top: 10px;
        margin-left: 0px;
        padding: 4px 4px;
        font-size: 12px;
        border-radius: none;
        border-radius: 5px;
    }

}