/* updock font family link for extra style */
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

/* Caveat font family for title */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Updock&display=swap');

/* Merriweather font family for main heading */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Merriweather:wght@700&family=Updock&display=swap');

/* Inter font family for sub title */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&family=Merriweather:wght@700&family=Updock&display=swap');

/* Nunito font for normal text */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&family=Merriweather:wght@700&family=Nunito:ital,wght@1,200&family=Updock&display=swap');

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.mainResponse{
    background-color: #394f64;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#m{
    font-size: 400px;
    position: fixed;
    text-align: center;
    color:#3c5367;
    font-family: 'Inter', Courier;

    animation-name: sam;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes sam {
    from{
        color:#3c5367;
        opacity: 0.8;
    }
    to{
        color:#2c455b;
        z-index: 6;
        opacity: 1;
    }
} 

#mainButton{
    z-index: 5;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    outline: none;
    border: 1px solid aqua;
    color: #4b5e6f;
    background-color: #0f2a43;
    font-size: 18px;
    display: block;
    cursor: pointer;
    font-family: 'Inter', Courier;
}

#mainButton:hover{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #1e9bff;
    background-color: #1d3a52;
    color: orange;
    box-shadow: 0px 0px 40px 7px #1e9bff;
    transform: scale(1.1);
}

#mainButton:active{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #4c6172;
    background-color: #1f4a6d;
    color: orange;
    box-shadow: 0px 0px 40px 7px #1e9bff;
}

#demoDiv{
    display: none;
    z-index: 7;
}

.responseData{
    background-color: #193755;
    width: 50vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0px 0px 20px 30px #05223d;
    border-radius: 2vw;
    overflow: hidden;
}

.hRes{
    color: white;
    cursor: pointer;
    font-family: 'Merriweather', Courier;
}

.inputRes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    border-spacing: 10px 15px;
}

label{
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', Courier;
}

input{
    border-radius: 0.5vw;
    padding: 5px 10px;
    text-align: left;
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    width: 20vw;
    color: orange;
    outline: none;
    font-family: 'Inter', Courier;
}

input:hover{
    border: 3px solid white;
    outline: none;
}

input:active{
    border: 3px solid white;
    outline: none;
}

#textarea1{
    width: 26vw;
    margin: 15px 0px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 1vw;
    color: orange;
    outline: none;
    font-family: 'Inter', Courier;
}

#textarea1:hover{
    border: 3px solid white;
}

#submitBtn{
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 0.5vw;
    width: 8vw;
    margin-bottom: 15px;
    outline: none;
    font-family: 'Inter', Courier;
    text-align: center;
}

#submitBtn:hover{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #1e9bff;
    background-color: #000509;
    color: #2382d0;
    box-shadow: 0px 0px 40px 7px #1e9bff;
}

#submitBtn:active{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #4c6172;
    background-color: #1f4a6d;
    color: #2382d0;
    box-shadow: 0px 0px 40px 7px #1e9bff;
}








#dialogBoxDemo{
    display: none;
    position: fixed;
    z-index: 8;
}

.dialogBox{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 20vw;
    background-color: #7395AE;
    border-radius: 1vw;
    overflow: hidden;
}

.ratingHeading{
    cursor: pointer;
    font-family: 'Inter', Courier;
}

/* .closeMark{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
} */

/* .closeMark span{
    margin: 10px 15px;
    padding: 5px 5px;
} */

.stars{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 0px 40px 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  cursor: pointer;
}

#starSize1{
    padding: 10px;
    font-size: 50px;
}

#starSize2{
    padding: 10px;
    font-size: 50px;
}

#starSize3{
    padding: 10px;
    font-size: 50px;
}

#starSize4{
    padding: 10px;
    font-size: 50px;
}

#starSize5{
    padding: 10px;
    font-size: 50px;
}

.sendBtn{
    width: 5.5vw;
    height: 2.5vw;
    border-radius: 0.5vw;
    outline: none;
    border: 1px solid white;
    color: #4b5e6f;
    background-color: #0f2a43;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', Courier;
}

.sendBtn:hover{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #1e9bff;
    background-color: #1d3a52;
    color: orange;
    box-shadow: 0px 0px 40px 7px #1e9bff;
    transform: scale(1.1);
}

.sendBtn:active{
    transition-property: all;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #4c6172;
    background-color: #1f4a6d;
    color: orange;
    box-shadow: 0px 0px 40px 7px #1e9bff;
}








#thankingDemo{
    display: none;
    position: fixed;
    z-index: 9;
}

.thanking{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 20vw;
    background-color: #7395AE;
    border-radius: 1vw;
    overflow: hidden;
}

#smileIcon{
    font-size: 130px;
    overflow: hidden;
    cursor: pointer;
}

.thanking h1{
    margin-bottom: 40px;
    cursor: pointer;
    font-family: 'Inter', Courier;
}





/* Media Query for responsiveness */





@media (max-width:1270px) {

    .dialogBox{
        width: 35vw;
        height: 25vw;
        border-radius: 1vw;
    }

    .sendBtn{
        width: 6vw;
        height: 3vw;
        border-radius: 0.5vw;
        font-size: 18px;
    }

    #textarea1{
        width: 30vw;
        height: 12vw;
    }

    #mainButton{
        width: 13vw;
        height: 13vw;
        font-size: 18px;
    }

    .thanking{
        width: 35vw;
        height: 25vw;
        border-radius: 1vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

}

@media (max-width:1100px) {

    .dialogBox{
        width: 40vw;
        height: 30vw;
        border-radius: 1vw;
    }

    .sendBtn{
        width: 6.5vw;
        height: 3.5vw;
        border-radius: 0.5vw;
        font-size: 18px;
    }

    .thanking{
        width: 40vw;
        height: 30vw;
        border-radius: 1.5vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

    #mainButton{
        width: 15vw;
        height: 15vw;
        font-size: 18px;
    }

    .responseData{
        height: 85vw;
        width: 100vw;
    }

    .responseData{
        height: 45vw;
        width: 60vw;
    }

    #textarea1{
        width: 35vw;
        height: 12vw;
    }

    input{
        width: 26vw;
    }
}

@media (max-width:1000px) {

    .dialogBox{
        width: 45vw;
        height: 35vw;
        border-radius: 1vw;
    }

    .sendBtn{
        width: 7vw;
        height: 4vw;
        border-radius: 0.5vw;
        font-size: 18px;
    }

    .thanking{
        width: 45vw;
        height: 35vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

    #mainButton{
        width: 16vw;
        height: 16vw;
        font-size: 18px;
    }

    .responseData{
        height: 60vw;
        width: 70vw;
    }

    #textarea1{
        width: 40vw;
        height: 15vw;
    }

    input{
        width: 31vw;
    }

    #submitBtn{
        width: 10vw;
    }
}

@media (max-width:900px) {

    .dialogBox{
        width: 47vw;
        height: 37vw;
        border-radius: 1vw;
    }

    .sendBtn{
        width: 7.5vw;
        height: 4vw;
        border-radius: 0.8vw;
        font-size: 18px;
    }
}

@media (max-width:800px) {

    .dialogBox{
        width: 52vw;
        height: 42vw;
        border-radius: 1.5vw;
    }

    .sendBtn{
        width: 8.2vw;
        height: 4.5vw;
        border-radius: 0.8vw;
        font-size: 18px;
    }

    .thanking{
        width: 55vw;
        height: 45vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

}

@media (max-width:700px) {

    .dialogBox{
        width: 65vw;
        height: 50vw;
        border-radius: 1.5vw;
    }

    .sendBtn{
        width: 9.5vw;
        height: 5vw;
        border-radius: 1vw;
        font-size: 18px;
    }

    .thanking{
        width: 60vw;
        height: 50vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

    #mainButton{
        width: 20vw;
        height: 20vw;
        font-size: 18px;
    }

    .responseData{
        height: 75vw;
        width: 75vw;
    }

    #textarea1{
        width: 56vw;
        height: 20vw;
    }

    input{
        width: 41vw;
    }

    #submitBtn{
        width: 14vw;
    }
}

@media (max-width:600px) {

    .dialogBox{
        width: 67vw;
        height: 52vw;
        border-radius: 1.5vw;
    }

    .sendBtn{
        width: 11vw;
        height: 6vw;
        border-radius: 1vw;
        font-size: 18px;
    }

    .thanking{
        width: 65vw;
        height: 55vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

    #mainButton{
        width: 22vw;
        height: 22vw;
        font-size: 18px;
    }

    .responseData{
        height: 90vw;
        width: 75vw;
    }

    #textarea1{
        width: 56vw;
        height: 20vw;
    }

    input{
        width: 41vw;
    }

    #submitBtn{
        width: 16vw;
    }
}

@media (max-width:500px) {

    .dialogBox{
        width: 70vw;
        height: 55vw;
        border-radius: 2vw;
    }

    .sendBtn{
        width: 13.5vw;
        height: 7vw;
        border-radius: 1vw;
        font-size: 18px;
    }

    .thanking{
        width: 70vw;
        height: 60vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 130px;
    }

    #mainButton{
        width: 27vw;
        height: 27vw;
        font-size: 18px;
    }

    .responseData{
        height: 140vw;
        width: 76vw;
        border-radius: 5vw;
    }

    table{
        border-spacing: 10px 10px;
    }

    tr{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    #textarea1{
        width: 63vw;
        height: 25vw;
        border-radius: 2vw;
        color: orange;
    }

    label{
        color: aqua;
        margin: 10px 0px;
    }

    input{
        width: 55vw;
        border-top: none;
        border-left: none;
        border-right: none;
        margin: 10px 0px 10px 0px;
        outline: none;
        border-radius: 0px;
    }

    input:hover{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid aqua;
        outline: none;
    }

    input:active{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid aqua;
        outline: none;
    } 

    #submitBtn{
        width: 19vw;
        border-radius: 1.5vw;
        border: 2px solid white;
    }

    .hRes{
        font-size: 30px;
    }

}

@media (max-width:465px) {

    .thanking{
        width: 72vw;
        height: 62vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 120px;
    }

    .dialogBox{
        width: 70vw;
        height: 55vw;
        border-radius: 3vw;
    }

    .sendBtn{
        width: 20vw;
        height: 9vw;
        border-radius: 1.5vw;
        font-size: 18px;
        margin-bottom: 5px;
    }

    #starSize1{
        padding: 5px;
        font-size: 50px;
    }
    
    #starSize2{
        padding: 5px;
        font-size: 50px;
    }
    
    #starSize3{
        padding: 5px;
        font-size: 50px;
    }
    
    #starSize4{
        padding: 5px;
        font-size: 50px;
    }
    
    #starSize5{
        padding: 5px;
        font-size: 50px;
    }
}

@media (max-width:400px) {

    .thanking{
        width: 72vw;
        height: 62vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 100px;
    }

    .dialogBox{
        width: 70vw;
        height: 70vw;
        border-radius: 3vw;
    }

    .sendBtn{
        width: 20vw;
        height: 9vw;
        border-radius: 1.5vw;
        font-size: 18px;
        margin-bottom: 5px;
    }

    #starSize1{
        padding: 0px;
        font-size: 50px;
    }
    
    #starSize2{
        padding: 0px;
        font-size: 50px;
    }
    
    #starSize3{
        padding: 0px;
        font-size: 50px;
    }
    
    #starSize4{
        padding: 0px;
        font-size: 50px;
    }
    
    #starSize5{
        padding: 0px;
        font-size: 50px;
    }
  
    #mainButton{
        width: 34vw;
        height: 34vw;
        font-size: 18px;
    }

    input{
        width: 55vw;
        border-top: none;
        border-left: none;
        border-right: none;
        margin: 10px 0px 10px 0px;
        outline: none;
        border-radius: 0px;
    }

    #submitBtn{
        width: 23vw;
        border-radius: 1.5vw;
        border: 2px solid white;
    }

    .hRes{
        font-size: 25px;
    }

}

@media (max-width:370px) {

    .thanking{
        width: 72vw;
        height: 62vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 80px;
        margin: 0px;
        padding: 10px 0px;
    }

    .thanking h1{
        padding: 0px;
        margin: 0px 0px 8px 0px;
    }

    #mainButton{
        width: 45vw;
        height: 45vw;
        font-size: 18px;
    }

    table{
        border-spacing: 20px 10px;
    }

    #textarea1{
        width: 63vw;
        height: 25vw;
        border-radius: 2.5vw;
        color: orange;
    }

    #submitBtn{
        width: 25vw;
        border-radius: 2vw;
        border: 2px solid white;
    }

    .hRes{
        font-size: 23px;
    }

}

@media (max-width:360px) {

    .dialogBox{
        width: 70vw;
        height: 75vw;
        border-radius: 3vw;
    }

    .sendBtn{
        width: 25vw;
        height: 11vw;
        border-radius: 2vw;
        font-size: 18px;
        margin-bottom: 5px;
    }

    #starSize1{
        padding: 0px;
        font-size: 45px;
    }
    
    #starSize2{
        padding: 0px;
        font-size: 45px;
    }
    
    #starSize3{
        padding: 0px;
        font-size: 45px;
    }
    
    #starSize4{
        padding: 0px;
        font-size: 45px;
    }
    
    #starSize5{
        padding: 0px;
        font-size: 45px;
    }

    .responseData{
        height: 180vw;
        width: 76vw;
        border-radius: 5vw;
    }
}

@media (max-width:300px) {

    .dialogBox{
        width: 70vw;
        height: 80vw;
        border-radius: 3vw;
    }

    .sendBtn{
        width: 27vw;
        height: 13vw;
        border-radius: 2vw;
        font-size: 18px;
        margin-bottom: 5px;
    }

    #starSize1{
        padding: 0px;
        font-size: 35px;
    }
    
    #starSize2{
        padding: 0px;
        font-size: 35px;
    }
    
    #starSize3{
        padding: 0px;
        font-size: 35px;
    }
    
    #starSize4{
        padding: 0px;
        font-size: 35px;
    }
    
    #starSize5{
        padding: 0px;
        font-size: 35px;
    }

    .responseData{
        height: 200vw;
        width: 76vw;
        border-radius: 5vw;
    }

    table{
        border-spacing: 10px 20px;
    }

    #textarea1{
        width: 63vw;
        height: 25vw;
        border-radius: 2vw;
        color: orange;
    }

    #submitBtn{
        width: 29vw;
        border-radius: 2vw;
        border: 2px solid white;
    }

    .hRes{
        font-size: 21px;
    }

}

@media (max-width:280px) {
    .thanking{
        width: 72vw;
        height: 62vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 80px;
        margin: 0px;
        padding: 10px 0px;
    }

    .thanking h1{
        font-size: 25px;
        padding: 0px;
        margin: 0px 0px 8px 0px;
    }
}

@media (max-width:260px) {

    .thanking{
        width: 72vw;
        height: 75vw;
        border-radius: 2vw;
    }
    
    #smileIcon{
        font-size: 80px;
        margin: 0px;
        padding: 10px 0px;
    }

    .thanking h1{
        font-size: 25px;
        padding: 0px;
        margin: 0px 0px 10px 0px;
    }

    #mainButton{
        width: 50vw;
        height: 50vw;
        font-size: 18px;
    }

    .responseData{
        height: 220vw;
        width: 76vw;
        border-radius: 5vw;
    }

    #submitBtn{
        width: 32vw;
        border-radius: 2vw;
        border: 2px solid white;
    }

    .hRes{
        font-size: 18px;
    }
}