/* Inter font family for sub title */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&family=Merriweather:wght@700&family=Updock&display=swap');

.searchInputList{
    position: fixed;
    right: 0;
    top: 80px;
    width: 20%;
    margin-right: 5.4vw;
    /* border-bottom: 1px solid #1abc9c;
    border-right: 1px solid #1abc9c;
    border-left: 1px solid #1abc9c; */
    background-color: #1c4265;
    max-height: 40vh;
    overflow-y: scroll;
    z-index: 1;
}

.searchInputList::-webkit-scrollbar{
    display: none;
}

.ulsearchInputList{
    background-color: #1c4265;
    width: 100%;
}

.sList{
    background-color: #173c5f;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    margin: 2px 0px;
    display: none;
}

.sList:hover{
    background-color: #25425f;
}

.uListAnchor{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', courier;
    background-color: #173c5f;
    color: #8495a5;
    padding: 5px 10px;
}

.uListAnchor:hover{
    color: white;
    font-weight: bolder;
    background-color: #25425f;
}

.uListAnchor:active{
    color: #8495a5;
}

@media (max-width:1320px){
    .searchInputList{
        max-height: 40vh;
        position: fixed;
        top: 120px;
        width: 100%;
        margin: 0px;
        z-index: 1;
    }
}